<div class="container">
  <div class="header">
    <div class="header-text">
      Data Source
    </div>

  </div>
  <div class="container-toggle">
    <app-toggle text1="File" text2="Text Input" (stateChangedEvent)="inputMethodChanged($event)"></app-toggle>
  </div>

  <app-datasource-upload *ngIf="!inputMethod" #uploadField></app-datasource-upload>
  <app-datasource-input *ngIf="inputMethod" #inputField></app-datasource-input>

  <div class="button">
    <app-button text="Upload" icon="upload" (click)="upload()"></app-button>
  </div>
</div>
