<div class="container">
  <div class="header">
    <div class="header-text">
      Service
    </div>
  </div>
  <div class="content">
    <app-dropdown [elements]="services" (changeEvent)="serviceSelected($event)"></app-dropdown>
    <div class="container-params">
      <span class="label-params">Params</span>
      <i-feather name="rotate-ccw" class="icon-reset" (click)="resetTable()"></i-feather>
    </div>

    <app-table #tableParams></app-table>

    <div class="container-requests">
      <div class="container-spinner">
        <ngx-spinner name="service-spinner" class="spinner" bdColor="rgba(0,0,0,0)" size="default" color="#009898" type="ball-clip-rotate-multiple"
                     [fullScreen]="false"></ngx-spinner>
      </div>
      <span *ngIf="queryRunning" class="span-requests">{{currentResponses}} / {{expectedResponses}}</span>
    </div>


  </div>
  <div class="button-execute">
    <app-button text="Execute" icon="play" (click)="execute()"></app-button>
  </div>

  <div class="container-results">
    <app-service-result *ngFor="let r of responses" [input]="r"></app-service-result>
  </div>

  <div class="button-download">
    <app-button text="Download" icon="download"></app-button>
  </div>
</div>
