<div class="container">
  <div class="header">
    <div class="header-text">
      Service
    </div>
  </div>
  <div class="content">
    <app-dropdown [elements]="[{service: 'text-similarity', name:'Text Similarity Analysis'},
    {service: 'text-recognition', name:'Text Recognition'}]" (changeEvent)="serviceSelected($event)"></app-dropdown>
    <div class="container-params">
      <span class="label-params">Params</span>
    </div>

    <app-table></app-table>

    <div class="container-requests">
      <div class="container-spinner">
        <ngx-spinner class="spinner" bdColor="rgba(0,0,0,0)" size="default" color="#009898" type="ball-clip-rotate-multiple"
                     [fullScreen]="false"></ngx-spinner>
      </div>
      <span *ngIf="queryRunning" class="span-requests">{{currentResponses}} / {{expectedResponses}}</span>
    </div>


  </div>
  <div class="button-execute">
    <app-button text="Execute" icon="play" (click)="execute()"></app-button>
  </div>

  <div class="container-results">
    <app-service-result title='What does the "yield" keyword do in Python?'
                        link="https://stackoverflow.com/questions/231767/what-does-the-yield-keyword-do-in-python"
                        content="To understand what yield does, you must understand what generators are.
                        And before you can understand generators, you must understand iterables..."></app-service-result>
    <app-service-result title='What does the "yield" keyword do in Python?'
                        link="https://stackoverflow.com/questions/231767/what-does-the-yield-keyword-do-in-python"
                        content="To understand what yield does, you must understand what generators are.
                        And before you can understand generators, you must understand iterables..."></app-service-result>
  </div>

  <div class="button-download">
    <app-button text="Download" icon="download"></app-button>
  </div>
</div>
