:host{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.container{
  border-radius: 5px;
  border: 1px solid #9A9A9A;
  box-shadow: 2px 2px 8px rgba(0,0,0,.15);
  width: 90%;
  font-family: "Roboto Mono", sans-serif;
  padding: 5px 5px 0;
  font-size: 13px;
  background-color: #F3F3F3;
  height: 175px;
  overflow: auto;
}

.list-results{
  list-style-type: none;
}
