.spacer{
  height: 50px;
}
.base-layout{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.icon{
  margin-top: 200px;
  padding-left: 25px;
  padding-right: 25px;
  color: #009898;
}
