:host{
  min-width: 100px;
  border: 1px solid #009898;
  border-bottom: 2px solid #009898;
  border-radius: 5px;
  color: #009898;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

:host:hover{
  color: #353535;
  border: 1px solid #353535;
  border-bottom: 2px solid #353535;
}

.icon{
  width: 18px;
  height: 18px;
  padding: 5px 5px 5px 0;
}
