<textarea [(ngModel)]="transformStr" class="json-input" placeholder='{
  &quot;seperator&quot;: &quot;\n&quot;,
  &quot;replace&quot;: [
    {
      &quot;old&quot;:&quot;&quot;,
      &quot;new&quot;:&quot;&quot;
    }
  ]
}'></textarea>
<div class="container-inline">
  <div class="container-right-align">
    <i-feather name="arrow-down" class="icon icon-right-align"></i-feather>
  </div>
  <div class="container-right-align">
    <app-button class="button" text="Transform" icon="zap" (click)="transform()"></app-button>
  </div>
</div>

