<textarea [(ngModel)]="inputStr" readonly class="text-input"></textarea>
<i-feather name="arrow-down" class="icon"></i-feather>
<textarea [(ngModel)]="transformStr" class="json-input"></textarea>
<div class="container-inline">
  <div class="container-right-align">
    <i-feather name="arrow-down" class="icon icon-right-align"></i-feather>
  </div>
  <div class="container-right-align">
    <app-button class="button" text="Transform" icon="zap" (click)="transform()"></app-button>
  </div>
</div>

<!--<pre><code #codeElement [highlight]="code"></code></pre>-->
